<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	<title>Insert title here</title>
	</head>
	<body>
		<nav id="navbarL" th:fragment="navbarL" class="navbar navbar-expand-lg bg-light">
		  <div class="container-fluid">
		    
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item"><a class="nav-link" th:href="@{/indexL}">Inicio</a></li> 
				<li class="nav-item"><a class="nav-link" th:href="@{/usuario/perfil}">Perfil</a></li> 
				<li class="nav-item"><a class="nav-link" th:href="@{/usuario/logout}">Cerrar Sesion</a></li> 			        
		      </ul>			     
		    </div>
		  </div>
		</nav>	
	</body>
</html>