<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Trabajo Practico N1</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
	<div class="container">
		<header th:replace="/layouts/header::header"></header>
		<nav th:replace="/Layouts/navbarL::navbarL"></nav>
	  	<section id="indexL">
			<h2>Ofertas Disponibles</h2>
		</section>
		<footer th:replace="/layouts/footer::footer"></footer>
	</div>
</body>
</html>